<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">{{name}} 
                    {{currentDate | date:"yyyy-MM/dd"}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div *ngFor="let m of matches">
            <app-result [matchInput]="m" (newMatches)="updateMatches($event)"></app-result>
        </div>
    </div>
</div>